<div class='jumbotron landing'>
  <%= image_tag("persist-logo.png", class: "img-fluid", alt: "Persist logo") %><h1 class="display-2">Thanks for signing!</h1>
  <%= link_to 'Go back to my page', user_path(User.find(1)), class: 'btn btn-submit' %>
</div>

