// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.division {
  background-color: AliceBlue;
  padding: 20px 10px;
  margin: 10px;
  text-align: center;
}

.division-name {
  font-family: 'Sanchez', serif;
  font-size: 1.2em;
  display: inline-block
}

p.division-name:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 10px solid #A6F4DB;
  transition: 0.4s;
}

p.division-name:hover:after {
  width: 100%;
}

p.division-name > a {
  color: #292b2c;
}

p.division-name > a:hover {
  text-decoration: none;
}

.signed-doc {
  font-size: 1.2em;
  border-left: 5px solid #B7F2AB;
  margin: 10px;
  padding: 10px;
}

.signed-doc:hover {
  border-left: 15px solid #A6F4DB;
}